/* Reset CSS */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Alegreya Sans", sans-serif;
  font-family: "Quicksand", sans-serif;
  scroll-behavior: smooth;
  outline: none !important;
}
a {
  text-decoration: none;
  color: currentColor;
}
.main {
  overflow: hidden;
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column; */
}

/* 
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Từ tổng quan đến chi tiết
 */

/* 
1. Vị trí
2. Kích thước
3. Màu sắc
4. Kiểu dáng(kiểu chữ, hình tròn, vuông, ..)
*/

#myBtn {
  display: none;
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 10px;
  right: 43px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
}

#myBtn:hover {
  background-color: #555;
}

.header {
  display: flex;
  height: 130px;
  max-width: 100%;
  justify-content: space-between;
}

.toggleMenu {
  display: none;
}

.header > i {
  display: none;
}

.header-left {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 33.33%;
  margin-left: 30px;
}

.header-left .logo {
  display: none;
}

.header-left ul {
  display: flex;
  flex-direction: row;
}

a {
  position: relative;
}

.header-left ul li a {
  text-decoration: none;
  color: #1d3557;
}

.header-left ul a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #18272f;
  height: 3px;
  margin-bottom: 2px;
  top: -3px;
  left: 0;
  bottom: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.header-left ul a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

li::after {
  display: block;
}

li:hover::after {
  transform: scaleX(1);
}

.header-left ul li {
  margin-right: 30px;
  list-style-type: none;
  font-weight: 600;
  cursor: pointer;
}

.header-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33.33%;
}

.header-center img {
  width: 80px;
  height: 80px;
}

.header-center p {
  font-size: 24px;
  font-weight: bold;
}

.header-right {
  display: flex;
  margin-right: 30px;
  justify-content: right;
  width: 33.33%;
  align-items: center;
}

.header-right a {
  color: #000;
}

.header-right i {
  margin-left: 30px;
  cursor: pointer;
}

hr {
  margin-left: 15px;
  margin-right: 15px;
  opacity: 0.7;
}

.banner {
  position: relative;
  /* margin-bottom: 44px; */
  transition-timing-function: ease;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.content-section {
  margin: 0 36px;
  min-height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: #efefef; */
}

.row {
  /* margin-right: 30px; */
  /* height: 750px; */
  padding-bottom: 50%;
  border-radius: 10px;
  width: 100%;
  position: relative;
}

.row img {
  width: 100%;
}

.row button {
  position: absolute;
  width: 21vw;
  height: 10vh;
  font-family: "Alegreya Sans";
  font-size: 30px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  /* color: #fff; */
}

.btn-1 {
  background-color: #0577c1;
  box-shadow: 0 5px 0 #ad6b3c;
  left: 50%;
  top: 78%;
  color: #fff;
}

.btn-2 {
  background-color: #a89483;
  box-shadow: 0 5px 0 #ad6b3c;
  left: 2%;
  top: 51%;
  color: #fff;
}

.btn-1:active,
.btn-2:active {
  box-shadow: none;
  transform: translateY(5px);
}

.row > * {
  animation: 8s autoplay infinite linear;
}

@keyframes autoplay {
  0% {
    opacity: 0;
  }
  4% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  54% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.row > *:nth-child(1) {
  animation-delay: 0s;
}

.row > *:nth-child(2) {
  animation-delay: 4s;
}

.row > *:nth-child(3) {
  animation-delay: 8s;
}

.row img {
  position: absolute;
  display: block;
  width: 100%;
  /* margin-top: 100px; */
}

.content-section-heading,
.list-heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.list-heading {
  margin-bottom: 32px;
}

.content-section-heading h2,
.list-heading h2 {
  display: block;
  font-family: "Alegreya Sans";
  color: #1d3557;
  font-size: 30px;
  font-weight: bold;
}

.content-section-heading hr,
.list-heading hr {
  width: 35%;
}

.product-container {
  display: flex;
  width: max-content;
}

.list-section {
  max-width: 100vw;
  min-height: auto;
  margin: 0 34px;
  overflow: hidden;
}

.list-container {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  column-gap: 30px;
}

.list-container .list-card {
  width: 456px;
  height: max-content;
}

.list-container:hover > :not(:hover) {
  opacity: 0.4;
  transform: scale(0.9);
}

.list-card .list-card-img {
  position: relative;
  width: 456px;
  margin-bottom: 16px;
  transition: 0.35s;
  cursor: pointer;
}

.list-card a {
  margin-left: 12px;
  cursor: pointer;
  font-size: 16px;
}

.list-card i {
  margin-left: 16px;
}

#product-container {
  display: flex;
  width: max-content;
  overflow-x: auto;
  scroll-behavior: smooth;
}

#product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  padding: 28px 28px 16px 28px;
  width: 456px !important;
  height: 548px !important;
  flex: 0 0 auto;
  transition: transform 0.25s linear;
}

.product-card .list-card-img {
  position: relative;
  width: 414px;
}

.my-swiper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-behavior: smooth;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 24px 0 0 0;
  margin: 0 auto;
}

.slide-container,
.slide-container-1 {
  overflow: hidden;
  scroll-behavior: smooth;
}

.swiper-wrapper:hover > :not(:hover) {
  opacity: 0.4;
  transform: scale(0.9);
}

.card-wrapper {
  scroll-behavior: smooth;
}

.card {
  background: #fff;
  border-radius: 8px;
  scroll-behavior: smooth;
  transition: 0.35s;
  cursor: pointer;
}
.card .image-box {
  width: 100%;
}

.card .image-box img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}
.card .product-content {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
}

.product-content .product-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 14px;
}

.product-content a,
.product-content p {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  color: #1d3557;
}
.product-content p {
  color: red;
  font-weight: bold;
}

.product-content i {
  color: #000;
  margin-left: 10px;
}

.swiper-navBtn,
.next-navBtn,
.pre-navBtn,
.next-navBtnn,
.pre-navBtnn {
  display: flex;
  justify-content: center;
  color: #000;
  height: 40px;
  width: 40px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #ccc;
  z-index: 10;
}

.next-navBtn,
.pre-navBtn,
.next-navBtnn,
.pre-navBtnn {
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  align-items: center;
}

.next-navBtn,
.next-navBtnn {
  right: 10px !important;
  left: auto;
}

.pre-navBtn,
.pre-navBtnn {
  left: 10px;
  right: auto;
}

.swiper-navBtn::before,
.swiper-navBtn::after,
.swiper-navBtnn::before,
.swiper-navBtnn::after {
  font-size: 18px;
}

.swiper-pagination-bullet {
  background-color: #000;
}

@media screen and (max-width: 768px) {
  .swiper-navBtn {
    display: none;
  }
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 8;
  margin-top: -150px;
}

.section-brand {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  max-width: 100%;
}

.col-left {
  width: 60%;
  padding: 24px 28px 16px 0;
}

.col-right {
  width: 40%;
}

.col-left .brand-1 {
  width: 100%;
  /* height: 100%; */
}

.col-right .brand-2 {
  margin-top: 30px;
  height: 93.7%;
  width: 100%;
}

.col-left p {
  margin: 32px 30px 32px 30px;
}

.footer {
  position: relative;
  background-color: #e5d9d4;
  height: max-content;
  /* margin: -50px 28px 28px 28px; */
  border-radius: 10px;
}

.footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 30px;
}

.row-col4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% - 30px);
}

.row-col4:nth-child(1) {
  margin-right: 90px;
}

.row-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.row-logo img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.row-logo h2 {
  font-size: 30px;
  font-weight: bold;
}

.row-col4 p {
  font-size: 24px;
  font-weight: 600;
}

.row-email input {
  margin-bottom: 16px;
}

.row-email input:nth-child(1) {
  background-color: #d3cac5;
  font-size: 16px;
  color: #000;
  border: #ccc;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  /* opacity: 0.8; */
}

::placeholder {
  color: #000;
  font-family: "Quicksand";
}

.row-email input:hover {
  transform: scale(0.9);
  cursor: pointer;
}

.row-email input:nth-last-child(1) {
  margin-top: 10px;
  width: 120px;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  border-radius: 5px;
  color: #000;
  background-color: #a0c3d2;
  border: none;
}

.row-col4 .row-title {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.row-title {
  display: flex;
  align-items: baseline;
  margin-top: 45px;
}

.row-title p {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
}

.row-title ul li {
  list-style-type: none;
  margin-bottom: 16px;
}

.footer-bot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
  height: 40px;
}

.footer-bot .bot-copyright {
  font-size: 24px;
  font-weight: bold;
  align-items: center;
  line-height: 40px;
}

.footer-bot .bot-social i {
  margin: 0;
  align-items: center;
  /* line-height: 32px; */
}

.menu > li {
  position: relative;
  display: inline-block;
  /* margin: 0 12px; */
  padding: 12px;
  /* padding-bottom: 20px; */
}

.menu > li:hover .sub-menu {
  display: block;
}

.menu a {
  color: #000;
  text-decoration: none;
}

.sub-menu {
  position: absolute;
  top: 32px;
  left: -80px;
  width: 200px;
  background: #fff;
  display: none;
  z-index: 1;
  text-decoration: none;
  list-style-type: none;
}

.sub-menu li:hover {
  background: #ddd;
}

.sub-menu a {
  display: block;
  padding: 8px 16px;
  color: #333;
  border-bottom: 1px solid #ccc;
}

.content-section .lienhe {
  width: 100%;
}

.lienhe .p-1 {
  margin-top: 20px;
  font-size: 25px;
  font-weight: 600;
  color: rgb(47, 46, 46);
}

.lienhe p {
  font-size: 16px;
}
.lienhe > p input {
  width: 95%;
  height: 30px;
  line-height: 0.5;
  border: 1px solid #000;
  border-radius: 2px;
  font-size: 15px;
}
.lienhe {
  grid-column: 1/2;
  line-height: 2;
  width: 100%;
  font-size: 18px;
  color: #000;
  padding-left: 40px;
}

.lienhe p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.lienhe > p textarea {
  width: 95%;
  height: 100px;
  margin-top: 7px;
  border: 1px solid grey;
  font-size: 15px;
}

.lienhe button {
  width: 200px;
  height: 40px;
  letter-spacing: 1.5px;
  font-weight: 500;
  color: #fff;
  background-color: #004cff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 10px 15px #004cff;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  align-items: center;
  justify-items: center;
  justify-content: center;
}
